body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}

.biteContainer {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.biteContainer:hover {
    cursor: pointer;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 600px;
    height: 200px;
    color: white;
}

.wrapper:hover {
    cursor: pointer;}

.wrapperText {
    user-select: none;
    font-size: 70px;
}

.chocolate {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #2e1d14;
    width: 600px;
    height: 200px;
}

.chocolateText {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: #180f0b;
}

.openText {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.bite {
    position: absolute;
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.resetButton {
    display: none;
    width: 100px;
    height: 30px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .openText {
        margin-top: 25%;
    }
}